<div data-ng-controller="LoginCtrl" class="animated fadeInLeft">
    <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div>
    <article class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">
                登录
            </h1>
        </div>
        <div class="panel-body">
            <form ng-submit="login()" class="signin form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">邮箱</label>
                    <div class="col-md-10">
                        <input required id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label">密码</label>
                    <div class="col-md-10">
                        <input required id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary btn-block">登录</button>&nbsp; &nbsp;
                    </div>
                </div>
            </form>
        </div>

    </article>


</div>
